body {
  font-family: 'Nanum Gothic', sans-serif;
}
/* ───────── Mega-menu */
#mega-menu {
  background: rgba(2, 49, 90, 0.85);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.35);
  height: calc(17.25rem + 5px);
  overflow-y: auto;
  z-index: 30;
}
.highlight {
  background: rgba(6, 66, 118, 0.65) !important;
}
.nav-item button {
  letter-spacing: 0.02em;
}
